page-view-watchlist-details {
  table th {
    text-align: left;
    color: #5c2684;
  }
  table tr:not(:last-of-type) {
    border-bottom: 1px solid #c78d19;
  }

  table td {
    padding-left: 15px;
    padding: 0.5em;
    text-align: right;
  }
  table {
    text-align: left;
    font-size: 1.2em;
  }
}
