page-opt-validation {
   
    ion-content ion-img{
        width:90px !important;
        height: 80px !important;
        transition: .01s linear;
        border-radius: 5px;
        box-shadow: inset 0 0 2px 2px rgb(21, 9, 31);
        margin: 2em 0 1em;
    }
    .bg-input {
        background-color: rgba(0,0,0,.1);
        border-radius: 5px;
        width: 70%;
        margin: 1em auto;
    }
    ion-input{
        input::placeholder {
            color: map-get($colors, primary) !important;
          }
    }
    p {
        color: #5c2684;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2em;
    }
    ion-item.transparent{
        background-color: transparent;
    }
}
