page-my-cash-accounts {
  .scroll-content {
    margin-top: 50px !important;
  }
  ion-navbar {
    background-color: transparent;
  }
  ion-content {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../../../assets/imgs/csl-watchlist-header.png);
    background-position: 100% -40px;
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  .grid > h5 {
    border-bottom: 2px solid #c78d19;
    padding-bottom: 5px;
  }
}
