page-cash-statement {
  .scroll-content {
    margin-top: 50px !important;
    background-color: transparent;
  }
  ion-navbar {
    background-color: transparent;
  }
  ion-content {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../../../assets/imgs/csl-watchlist-header.png);
    background-position: 100% -40px;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }

  .grid > h5 {
    border-bottom: 2px solid #c78d19;
    padding-bottom: 5px;
  }
  .in {
    color: #f4f4f4;
    background-color: #00a31b;
    padding: 5px;
  }

  .out {
    color: #f4f4f4;
    background-color: #f53d3d;
    padding: 3px;
  }

  ion-footer > .button-block {
    width: 70%;
    margin: 3px auto;
  }
}
