page-set-password {
    ion-input{
        input::placeholder {
            color:white!important;
          }
    }

    p {
        color: #5c2684;
        width: 60%;
        text-align: center;
        margin: 1.2em auto 0;
        font-size: 1.2em;
    }
    .bg-input {
        background-color: rgba(0,0,0,.1);
        border-radius: 5px;
        width: 70%;
        margin: 1em auto;
    }
}
